a {
    display: flexbox;
    background-color: blue;
    text-align: center;
    padding: 14px 14px;
    list-style-type: none;
    overflow: hidden;
    text-decoration-color: azure ;
    float: float;


}
.search-container {
    display: flexbox;
    float: right;
}

.product {
    background-color: #33bbff;
    color: black;
    border: black;
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: flex;
}

button {
    background-color: blue;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


  }
